@import "../../../styles/utils/mixins";

.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;

  .menu-content {
    width: 100%;
    height: 100%;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;

      list-style-type: none;
      font-size: 3rem;
      gap: 2rem;

      @include small-screen {
        font-size: 2rem;
        gap: 2rem;
      }
    }
  }
  .menu-close {
    position: absolute;
    top: 2rem;
    right: 2rem;

    font-size: 2rem;
    color: #333;

    cursor: pointer;
  }
}

.burger-menu.open {
  visibility: visible;
  transform: translateX(0);
}
