@import "../../../styles/utils/mixins";

.catalog-btn {
  margin-right: auto;
  background-color: #393;
  padding: 0.7rem 1.4rem;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;

  @include medium-screen {
    display: none;
  }

  &:hover {
    color: #fff !important;
  }
}

.menu-content {
  .catalog-btn {
    display: block;
    margin-right: 0;
    align-self: center;
    font-size: 1.5rem;
  }
}
