@import "../../styles/utils/mixins";

.contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "c-h2 a-h2"
    "phone address"
    "sm-list whours";
  gap: 1rem 2rem;

  @include small-screen {
    grid-template-columns: 1fr;
    grid-template-areas:
      "c-h2"
      "phone"
      "sm-list"
      "a-h2"
      "address"
      "whours";
    gap: 1.5rem 1.5rem;
  }

  .c-h2 {
    grid-area: c-h2;
  }

  .a-h2 {
    grid-area: a-h2;
  }

  .calls-phone {
    grid-area: phone;
    font-size: 3rem;
    line-height: 3rem;

    @include medium-screen {
      font-size: 2rem;
      line-height: 2rem;
    }
  }

  .address {
    grid-area: address;
    font-size: 1.5rem;
    line-height: 1.2;

    a {
      text-decoration: underline;
    }
  }

  .working-hours {
    grid-area: whours;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .hours {
      font-size: 1rem;

      &-info {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
  }

  .sm-list {
    grid-area: sm-list;
    @include flex($justify: left, $gap: 1rem);
  }

  .sm-btn {
    @include flex($direction: column, $justify: space-around);
    text-align: center;
    max-width: min-content;

    &__lab {
      font-size: 2.2rem;
    }

    &__txt {
      font-size: 0.8rem;
    }
  }
}
